@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

h2 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.img-small {
    width: 10rem;
    margin-top: 10px;
}

.form-container {
    border: solid 5px rgba(60, 175, 81, 0.4);
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.btn {
    background-color: rgba(60, 175, 81, 1);
    border: rgba(60, 175, 81, 1);
}

    .btn:hover {
        background-color: #297C38; /* Cambia el color al hacer hover */
    }